@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "About";
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2>...</h2>
</hgroup>

<article>
</article>

<aside>
    <h3>Başlık</h3>
    <p>
    </p>
    <ul>
        <li><a href="~/">Anasayfa</a></li>
        <li><a href="~/About">Hakkımızda</a></li>
        <li><a href="~/Contact">İletişim</a></li>
    </ul>
</aside>