html {
    background-color: #6495ed;
    margin: 0;
    padding: 0;
}

body {
    background: #6495ed;
    background-color: #6495ed;
    border-top: solid 10px #6495ed;
    color: #6495ed;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
}

a {
    background-color: #6495ed;
    color: #6495ed;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: underline;
}

    a:link, a:visited,
    a:active, a:hover {
        color: #6495ed;
    }

    a:hover {
        background-color: #6495ed;
    }

header, footer, hgroup,
nav, section {
    display: block;
}